.wrapper{
    width: 70%;
    padding: 20px;
    background: rgb(255, 187, 217);
    margin: 10px auto;
    border-radius: 20px;
    color: rgba(170,73,152,1);
}
.photo{
    max-width: 200px;
    height: auto;
    border-radius: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.col-4{
    width: 40%;
}
.col-6{
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}